/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, 'Inter-Variable', sans-serif);
  font-variation-settings: 'wght' var(--main-font-weight, 400);
  background-color: #fff; /*Нужно подумать. Может не нужно*/
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-size: cover;
}

/*Блок header*/

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: clamp(7.5rem, 6.9231rem + 2.4615vw, 8rem) 0;
  background-color: #fff;
  text-transform: uppercase;
  font-family: var(--accent-font, sans-serif);
  border: 2px solid #000;
  margin: 100px auto;
}

.header__logo {
  font-size: clamp(3.06rem, 1.9062rem + 4.9231vw, 4.06rem);
  display: block;
  line-height: 100%;
  /*font-weight: inherit;*/
}

.header__title {
  font-size: clamp(0.875rem, 0.2254rem + 2.7717vw, 1.438rem);
  line-height: 100%;
  font-weight: inherit;
}

/*Переиспользуемые классы*/
/*Секция резиновая. Ее ширину нужно будет сделать переменной и на мобильной версии сделать равной 100% экрана*/
.section {
  max-inline-size: 700px;
}

.button {
  border: 2px solid #000;
  appearance: none;
  font-size: 14px;
  font-family: var(--accent-font, 'PressStart2P-Regular', sans-serif);
  cursor: pointer;
  background: #fff;
}

/*Стили для карточек*/

.cards {
  margin: 0 auto;
}

.card {
  background-color: #fff;
  border: 2px solid #000;
  margin-bottom: 50px;
}


.card:last-of-type {
  margin-bottom: 0;
}

.card__title {
  font-size: 18px;
  line-height: 100%;
  padding: 6px 24px 6px 10px;
  font-variation-settings: 'wght' var(--main-font-bold-weight, 700);
}

.card__image-container {
  position: relative;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.card__watermark {
  position: absolute;
  top: 28px;
  right: 25px;
  font-size: 14px;
  font-family: var(--accent-font, 'PressStart2P-Regular', sans-serif);
  line-height: 100%;
  text-transform: uppercase;
  text-shadow:  /*на случай, если text-stroke работать не будет. Код взяла из урока*/
  -1px 0 var(--text-shadow, #fff), 
  0 1px var(--text-shadow, #fff), 
  1px 0 var(--text-shadow, #fff), 
  0 -1px var(--text-shadow, #fff);
  filter: opacity(0.5);
  mix-blend-mode: hard-light;
  
}

@supports((text-stroke: 1px var(--text-shadow, #fff)) or (-webkit-text-stroke: 1px var(--text-shadow, #fff))) {
  .card__watermark {
    -webkit-text-stroke: 1px var(--text-shadow, #fff);
    text-stroke: 1px var(--text-shadow, #fff);
    text-shadow: none;
  }
}


.card__image {
  display: block;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
}

.card__content {
  padding: 25px 25px 25px;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: calc(21 / 18);
}


.card__buttons {
  display: flex;
  justify-self: flex-end;
  gap: 6px;
 /* padding: 0 25px 25px 0;*/
}

.card__icon-button {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
  appearance: none;
  display: flex;
  align-items: flex-end;
}

.card__like-button {
  padding: 10.5px 35px;
}

/*Стили для последнего блока с кнопкой "Сохранить"*/

.button__text {  /*Нужно перенести этот блок выше*/
  line-height: 90%;
  display: block;
}

.button__container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 50px 0 103px;

}

.save__button {
  max-inline-size: 335px;
  padding: 15.5px 19px 15.5px 17px;
  display: flex;
  align-items: center;
  gap: 8px;            
}

.button__icon {
  inline-size: var(--floppy-size, 21px);
  block-size:  var(--floppy-size, 21px);
}

/*Стили для модального окна*/

.modal {
  padding: 0;
  position: fixed;
  inset: 0;
  max-inline-size: 353px;
}


.modal:not([open]) {
  pointer-events: none;
  opacity: 0;
}


.modal::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.modal__form {
  padding: 30px;
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 30px 20px;
}

.modal__icon {
  --floppy-size: 39px;
  inline-size: var(--floppy-size, 39px);
  block-size:  var(--floppy-size, 39px);
  align-self: center;
}

.modal__text {
  font-family: var(--accent-font, sans-serif);
  font-weight: inherit;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.modal__button {
  padding: 10.7px 0;
  grid-column: 1 / 3;
}

/*Фильтры*/

.card__image_contrast {
  filter: contrast(1.2);
}

.card__image_saturate {
  filter: saturate(1.3);
}

.card__image_mix {
  filter: contrast(0.8);
  filter: grayscale(0.4); 
}

.card__image_brightness {
  filter: brightness(1.2);
}

.card__image_sepia {
  filter: sepia(1);
}

.card__image_greyscale {
  filter: grayscale(0.7);
}

.card__image_hue-rotate {
  filter: hue-rotate(-45deg);
}

.card__image_blur {
  filter: blur(0.3rem);
}

/*Медиазапросы*/

@media (width < 376px) {
  .card__title {
    line-height: normal;
  }

  .button__container {
    padding-top: 52px;
  }

  .save__button {
    flex-direction: column;
  }

  .button__icon {
    --floppy-size: 28px; 
    inline-size: var(--floppy-size, 28px);
    block-size:  var(--floppy-size, 28px);
  }

  .modal__form {
    padding: 30px 40px;
    max-inline-size: 341px;
  }
}